
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
  }
 body{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
  }
  body{
    background: url('./images/background.jpg');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    align-items: center;
  }
  .container {
    position: relative;
    width: 400px;
    height: 100px;
    background-color:rgba(255,255,255,0.1);
    backdrop-filter: blur(30px);
    border: 2px solid rgba(255,255,255,.2);
    padding: 20px;
    color: white;
    border-radius: 16px;
    transition: height .6s ease;
  }
  .search-box{
    position: relative;
    width: 100%;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    
  
  }
  .search-box input{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 2px solid rgba(255, 255,255, 0.2);
    outline: none;
    border-radius: 10px;
    font-size: 22px;
    color: white;
    font-weight: 500;
    text-transform: uppercase;
    padding: 0 48px 0 58px;
  }
  .search-box input::placeholder{
    color: white;
    text-transform: capitalize;
  }
  .search-box button{
    position: absolute;
    right: 0;
    width: 40px;
    height: 100%;
    outline: none;
    border: none;
    background: transparent;
    font-size: 28px;
    color: white;
    padding: 0 40px 0 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  .search-box i{
  position: absolute;
  left: 10px;
  font-size: 28px;
  color: white;
  
  
  }
  .weather-box{
    text-align: center;
    margin: 40px 0;
  }
  .weather-box img{
    width: 60%;
  }
  .weather-box .temperature{
    position: relative;
    font-size: 64px;
    line-height: 1;
    font-weight: 700;
    max-width: 20px 0 6px 30px;
  }
  .weather-box .temperature span{
    position: absolute;
    font-size: 24px;
    margin-left: 4px;
  }
  .weather-box .description{
    font-size: 22px;
    font-weight: 500;
  }
  .weather-box,  .weather-details, .not-found {
    visibility: hidden;
    overflow: hidden;
  }
  .weather-box.active,  .weather-details.active, .not-found.active {
    visibility: visible;
  }
  .weather-details{
    position: absolute;
    bottom: 40px;
    left: 0;
    width: 100%;
    padding: 0 20px;
    display: flex;
  }
  .weather-details i{
    margin-right: 10px;
    font-size: 56px;
  }
  .weather-details span{
    display: inline-block;
    font-size: 22px;
    font-weight: 500;
  
  }
  .weather-details  p{
    font-size: 14px;
    font-weight: 500;
  }
  .weather-details .humidity{
    padding-left: 20px;
    justify-content: flex-start;
  }
  .weather-details .wind{
    padding-right: 20px;
    justify-content: flex-end;
  }
  .weather-details .humidity , .weather-details .wind{
   display: flex;
    align-items: center;
    width: 50%;
    transform: translateY(-100%);
  }
  .weather-details .humidity .info-humidity, .weather-details .wind .info-wind{
transform: translateY(-100%);
overflow: hidden;
  }
  .weather-details.active .humidity , .weather-details.active .wind{
    transform: translateY(0%);
    transition:transform 1s ease;
    transition-delay:1s ease;
   }
  .not-found {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    margin-top: 110px;
  }
  .not-found img{
    width: 65%;
  }
  .not-found p{
    font-size: 22px;
    font-weight: 500;
    margin-top: 12px;
  }
  .weather-box .box,  .not-found  .box{
    transform: translateY((-100%));
  }
  .weather-box.active .box,  .not-found.active  .box{
    transform: translateY(0%);
    transition:transform 1s ease;
    transition-delay:.6s ;
  }
  .city-hide{
    display: none;
  }
  .weather-box .box .info-weather{
    transform: translateY((-120%));
  }
  .container.active .weather-box .box .info-weather,
  .container.active .weather-details .humidity .info-humidity, 
  .container.active .weather-details .wind .info-wind{
    transform: translateY(0%);
    transition: transform 1s ease;
      }
  

      /* <button class="button-63" role="button">Button 63</button> */
      
      /* CSS */
      .clear-btn {
        align-items: center;
        /* background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB); */
        background: transparent;
        backdrop-filter: blur(10px);
        border: 1px solid;
        border-radius: 8px;
        box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
        box-sizing: border-box;
        color: #FFFFFF;
        display: flex;
    font-size: 18px;
        justify-content: center;
        line-height: 1em;
        max-width: 100%;
        min-width: 140px;
        padding: 12px 20px;
        text-decoration: none;
       margin: auto;
        white-space: nowrap;
        cursor: pointer;
      }
      
      .clear-btn:active,
      .clear-btn:hover {
        outline: 0;
        /* background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB) */
      }
      
      @media (min-width: 768px) {
        .clear-btn {
          font-size: 24px;
          min-width: 196px;
        }
      }




      .bg-animation-one {
        animation: fadeIn 5s infinite alternate;
        background: linear-gradient(45deg, #ff9a9e, #fad0c4);
      }











